main,
section,
article.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section,
article.buttons {
  gap: 1rem;
}

p {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

article.buttons {
  margin-bottom: 5rem;
}

h1.logo {
  margin-top: 3rem;
  font-size: 7rem;
}

.hide {
  display: none;
}

button {
  height: 2rem;
  width: 9rem;
}

.sketch-button {
  width: 9rem;
}